@font-face {
  font-family: "LemonMilk";
  src: url("../Fonts/LEMONMILK-Bold.otf");
}
@font-face {
  font-family: "LatoBlack";
  src: url("../Fonts/Lato-Black.ttf");
}
@font-face {
  font-family: "LatoBold";
  src: url("../Fonts/Lato-Bold.ttf");
}
@font-face {
  font-family: "PeaceSans";
  src: url("../Fonts/peace_sans.otf");
}
@font-face {
  font-family: "OpenSans";
  src: url("../Fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "OpenSansExtraBold";
  src: url("../Fonts/OpenSans-ExtraBold.ttf");
}
@font-face {
  font-family: "OpenSansLight";
  src: url("../Fonts/OpenSans-Light.ttf");
}
@font-face {
  font-family: "OpenSansBold";
  src: url("../Fonts/OpenSans-Bold.ttf");
}
@font-face {
  font-family: "PumpDemi";
  src: url("../Fonts/Pump Demi Bold LET Plain.ttf");
}
#header {
  grid-area: header;
}

#who_we {
  grid-area: who_we;
}

#what_do {
  grid-area: what_do;
}

#how_works {
  grid-area: how_works;
}

#team {
  grid-area: team;
}

#client_say {
  grid-area: client_say;
}

#in_touch {
  grid-area: in_touch;
}

.btn, #who_we .container #who-text .primary_btn, #main .texts .btn {
  font-family: "LatoBold";
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  padding: 16px 35px;
  border-radius: 40px;
  background-color: #bc2e3a;
  text-decoration: none;
  width: 200px;
  display: block !important;
  margin-left: auto;
  margin-right: auto;
}

#who_we .container #who-text .section_heading, .section_heading, #what_do .container .section_heading {
  font-family: "PeaceSans";
  font-size: 35px;
  color: black;
  text-align: center;
}
#who_we .container #who-text .section_heading::first-letter, .section_heading::first-letter, #what_do .container .section_heading::first-letter {
  text-transform: uppercase;
}

#who_we .container #who-text p, p,
.para, #what_do .container li p, #who_we .container #who-text p {
  font-family: "OpenSans";
  font-size: 16px;
  text-align: center;
  color: #6a6a6a;
}

.section_heading, #what_do .container .section_heading, #who_we .container #who-text .section_heading {
  color: #494949;
  font-size: 45px;
}
@media only screen and (min-width: 576px) {
  .section_heading, #what_do .container .section_heading, #who_we .container #who-text .section_heading {
    font-size: 52px;
  }
}
@media only screen and (min-width: 992px) {
  .section_heading, #what_do .container .section_heading, #who_we .container #who-text .section_heading {
    font-size: 53px;
  }
}
@media only screen and (min-width: 1200px) {
  .section_heading, #what_do .container .section_heading, #who_we .container #who-text .section_heading {
    font-size: 55px;
  }
}
@media only screen and (min-width: 1400px) {
  .section_heading, #what_do .container .section_heading, #who_we .container #who-text .section_heading {
    font-size: 65px;
  }
}

p,
.para, #what_do .container li p, #who_we .container #who-text p {
  font-family: "OpenSans";
  color: #6a6a6a;
}
@media only screen and (min-width: 576px) {
  p,
.para, #what_do .container li p, #who_we .container #who-text p {
    font-size: 16px;
    line-height: 22px;
  }
}
@media only screen and (min-width: 992px) {
  p,
.para, #what_do .container li p, #who_we .container #who-text p {
    font-size: 17px;
    line-height: 25px;
  }
}
@media only screen and (min-width: 1200px) {
  p,
.para, #what_do .container li p, #who_we .container #who-text p {
    font-size: 18px;
    line-height: 27px;
  }
}
@media only screen and (min-width: 1400px) {
  p,
.para, #what_do .container li p, #who_we .container #who-text p {
    font-size: 20px;
    line-height: 30px;
  }
}

.container, #how_works .container, #what_do .container {
  width: 100%;
  padding: 65px 10px 65px 10px;
}
@media only screen and (min-width: 576px) {
  .container, #how_works .container, #what_do .container {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media only screen and (min-width: 768px) {
  .container, #how_works .container, #what_do .container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 992px) {
  .container, #how_works .container, #what_do .container {
    padding-top: 110px;
    padding-bottom: 110px;
  }
}
@media only screen and (min-width: 1400px) {
  .container, #how_works .container, #what_do .container {
    padding-top: 140px;
    padding-bottom: 150px;
  }
}
@media only screen and (min-width: 1920px) {
  .container, #how_works .container, #what_do .container {
    width: 85%;
    max-width: 1920px;
  }
}

#header {
  width: 100%;
  background-image: url("../Img/main-bg.png");
  background-position: center center;
  background-size: cover;
  background-color: #ff061d;
}
#header .container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  position: relative;
  margin-top: 15px;
  max-height: 100px;
}
@media only screen and (min-width: 992px) {
  #header .container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    min-height: initial;
  }
}
@media only screen and (min-width: 1200px) {
  #header .container {
    width: 95%;
  }
}
#header #brand-icon {
  flex-basis: 70%;
}
@media only screen and (min-width: 576px) {
  #header #brand-icon {
    flex-basis: 80%;
  }
}
@media only screen and (min-width: 992px) {
  #header #brand-icon {
    flex-basis: auto;
  }
}
#header #brand-icon h1 {
  font-family: "LatoBlack";
  font-size: 2.5em;
  text-align: center;
  color: white;
  text-transform: capitalize;
}
@media only screen and (min-width: 992px) {
  #header #brand-icon h1 {
    margin-top: 10px;
  }
}
@media only screen and (min-width: 1200px) {
  #header #brand-icon h1 {
    font-size: 2.8em;
  }
}
#header #nav_btn {
  margin-left: 10px;
  padding: 10px 15px;
  background-color: transparent;
  border: none;
  outline: none;
  order: -1;
}
@media only screen and (min-width: 992px) {
  #header #nav_btn {
    display: none;
  }
}
#header #nav_btn i {
  color: white;
}
#nav_wrapper {
  width: 100%;
  margin-top: 15px;
  display: none;
  opacity: 0;
  transition: opacity 0.5s, width 0.4s;
}
@media only screen and (min-width: 992px) {
  #nav_wrapper {
    opacity: 1;
    margin-top: initial;
    flex-basis: 75%;
    overflow: hidden;
    display: block;
  }
}
#nav_wrapper #navbar {
  width: 100%;
  background-color: #ff5100;
  padding: 25px 0px;
}
@media only screen and (min-width: 992px) {
  #nav_wrapper #navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: transparent;
    max-width: 700px;
    float: right;
  }
}
@media only screen and (min-width: 1200px) {
  #nav_wrapper #navbar {
    min-width: 800px;
  }
}
#nav_wrapper #navbar li {
  font-family: "LatoBold";
  font-size: 1em;
  text-align: center;
  list-style: none;
  color: white;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid white;
}
#nav_wrapper #navbar li:first-child {
  border-top: none;
}
@media only screen and (min-width: 992px) {
  #nav_wrapper #navbar li {
    border: none;
    padding: 0;
  }
}

#main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas: "image" "texts";
  padding-left: 15px;
  padding-right: 15px;
}
@media only screen and (min-width: 320px) {
  #main {
    grid-template-rows: 2fr 1.5fr;
  }
}
@media only screen and (min-width: 992px) {
  #main {
    grid-template-columns: 35px repeat(5, 1fr) 35px;
    grid-template-rows: repeat(5, minmax(75px, 150px));
    grid-template-areas: initial;
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;
  }
}
#main .img_container {
  grid-area: image;
  width: 100%;
  margin-top: 80px;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  #main .img_container {
    grid-row: 1/-2;
    grid-column: 4/-1;
    margin-top: initial;
    position: relative;
    z-index: 10;
  }
}
@media only screen and (min-width: 1200px) {
  #main .img_container {
    max-width: "1200px";
  }
}
#main .img_container img {
  width: 100%;
  max-width: 620px;
  display: inline-block;
}
@media only screen and (min-width: 992px) {
  #main .img_container img {
    max-width: initial;
  }
}
#main .texts {
  width: 100%;
  grid-area: texts;
  font-family: "LemonMilk";
  text-align: center;
  color: white;
  text-transform: uppercase;
}
@media only screen and (min-width: 992px) {
  #main .texts {
    grid-column: 2/span 3;
    grid-row: 2/-2;
    position: relative;
    z-index: 5;
  }
}
@media only screen and (min-width: 1200px) {
  #main .texts {
    max-width: "1200px";
  }
}
#main .texts h1 {
  font-size: 3.2em;
  line-height: 55px;
}
@media only screen and (min-width: 320px) {
  #main .texts h1 {
    font-size: 75px;
    line-height: 65px;
  }
  #main .texts h1:first-child {
    margin-top: 40px;
  }
}
@media only screen and (min-width: 576px) {
  #main .texts h1 {
    font-size: 90px;
    line-height: 90px;
  }
}
@media only screen and (min-width: 768px) {
  #main .texts h1 {
    font-size: 125px;
    line-height: 108px;
  }
}
@media only screen and (min-width: 992px) {
  #main .texts h1:first-child {
    margin-top: initial;
  }
}
#main .texts h4 {
  font-size: 2.5em;
  line-height: 40px;
}
@media only screen and (min-width: 320px) {
  #main .texts h4 {
    font-size: 45px;
    line-height: 45px;
  }
}
@media only screen and (min-width: 576px) {
  #main .texts h4 {
    font-size: 55px;
    line-height: 55px;
  }
}
@media only screen and (min-width: 768px) {
  #main .texts h4 {
    font-size: 70px;
    line-height: 70px;
  }
}
#main .texts .btn {
  display: inline-block;
  margin-top: 75px;
}

#who_we {
  background-image: url("../Img/bg-sec.png");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 100%;
}
@media only screen and (min-width: 992px) {
  #who_we {
    background-size: 72%;
  }
}
@media only screen and (min-width: 1200px) {
  #who_we {
    background-size: 65%;
  }
}
@media only screen and (min-width: 1400px) {
  #who_we {
    background-size: 60%;
  }
}

#who_we .container {
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: 10px 1fr 10px;
  grid-template-rows: 100px minmax(150px, auto) minmax(200px, auto) 100px;
  justify-items: center;
}
@media only screen and (min-width: 992px) {
  #who_we .container {
    justify-items: center;
    background-size: 72%;
    grid-template-columns: 8% repeat(2, 1fr) repeat(2, 1.5fr) 8%;
    grid-template-rows: 100px repeat(5, 1fr) 100px;
    grid-template-areas: ". . . . . ." ". text text image image ." ". text text image image ." ". text text image image ." ". text text image image ." ". text text image image ." ". . . . . .";
  }
}
@media only screen and (min-width: 1200px) {
  #who_we .container {
    grid-template-columns: 8% repeat(4, 1fr) 8%;
  }
}
@media only screen and (min-width: 1920px) {
  #who_we .container {
    max-width: 1920px;
    margin: 0 auto;
  }
}
#who_we .container #who-img {
  grid-column: 2/3;
  grid-row: 2/3;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  #who_we .container #who-img {
    max-width: 650px;
  }
}
@media only screen and (min-width: 992px) {
  #who_we .container #who-img {
    grid-area: image;
    max-width: initial;
  }
}
#who_we .container #who-text {
  grid-column: 2/3;
  grid-row: 3/4;
  margin-top: 45px;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  #who_we .container #who-text {
    grid-area: text;
    margin-top: 0px;
  }
}
#who_we .container #who-text .section_heading {
  color: #6a6a6a;
}
#who_we .container #who-text p {
  width: 85%;
  margin: 30px auto 0px auto;
}
@media only screen and (min-width: 992px) {
  #who_we .container #who-text p {
    text-align: left;
  }
}
#who_we .container #who-text .primary_btn {
  padding: 12px 25px;
  display: inline-block;
  background-color: black;
  color: white;
  margin-top: 50px;
}

.title {
  font-family: "OpenSansExtraBold";
  font-size: 23px;
  color: #6f6f6e;
  text-transform: capitalize;
}

#what_do {
  background-color: #f5f5f5;
  background-image: url("../Img/bg-red-sec.png");
  background-repeat: no-repeat;
  background-size: 100px auto;
  background-position: left center;
}
#what_do .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "title" "texts";
}
@media only screen and (min-width: 992px) {
  #what_do .container {
    padding-top: 110px;
    padding-bottom: 110px;
  }
}
@media only screen and (min-width: 1400px) {
  #what_do .container {
    padding-top: 140px;
    padding-bottom: 150px;
  }
}
#what_do .container .section_heading {
  grid-area: title;
}
.section-container {
  grid-area: texts;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 40px;
  margin-top: 65px;
}
@media only screen and (min-width: 992px) {
  .section-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 1400px) {
  .section-container {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 4%;
  }
}

#what_do .container li {
  text-align: center;
  list-style: none;
}
@media only screen and (min-width: 1200px) {
  #what_do .container li {
    display: grid;
    grid-template-columns: 85px 1fr;
    grid-template-rows: 85px auto;
    grid-template-areas: "icon title" ". paragraph";
    grid-column-gap: 15px;
  }
}
#what_do .container li .icon_container {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #bc2e3a;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
#what_do .container li .icon_container img {
  display: inline-block;
  width: 55%;
}
@media only screen and (min-width: 1200px) {
  #what_do .container li .icon_container {
    grid-area: icon;
  }
}
#what_do .container li h1 {
  font-family: "OpenSansExtraBold";
  font-size: 35px;
  text-transform: capitalize;
  color: #6f6f6e;
}
@media only screen and (min-width: 992px) {
  #what_do .container li h1 {
    margin-top: 25px;
  }
}
@media only screen and (min-width: 1200px) {
  #what_do .container li h1 {
    grid-area: title;
    margin-top: 0px;
    align-self: center;
    text-align: left;
  }
}
#what_do .container li p {
  margin-top: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 1200px) {
  #what_do .container li p {
    grid-area: paragraph;
    width: 80%;
    margin: 0px;
    text-align: justify;
  }
}
@media only screen and (min-width: 1400px) {
  #what_do .container li p {
    width: 100%;
  }
}

#how_works {
  position: relative;
}
#how_works .bg_style {
  width: 400px;
  position: absolute;
  right: 0px;
  top: 130px;
}
@media only screen and (min-width: 768px) {
  #how_works .bg_style {
    top: 200px;
    width: 45%;
  }
}
@media only screen and (min-width: 992px) {
  #how_works .bg_style {
    top: -130px;
    width: 40%;
    width: 600px;
  }
}
@media only screen and (min-width: 1400px) {
  #how_works .bg_style {
    width: 700px;
    top: -280px;
  }
}
#how_works .container {
  position: relative;
  z-index: 10;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto minmax(100px, auto);
  grid-template-areas: "title" "text" "options";
}
@media only screen and (min-width: 1400px) {
  #how_works .container {
    grid-template-columns: 2fr 2fr 3fr;
    grid-template-rows: 100px auto;
    grid-template-areas: "title title title" "text options options";
    grid-row-gap: 20px;
  }
}
#how_works .container .section_heading {
  grid-area: title;
}
@media only screen and (min-width: 1400px) {
  #how_works .container .section_heading {
    text-align: left;
  }
}
#how_works .container .how-left {
  grid-area: text;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 1400px) {
  #how_works .container .how-left {
    width: 100%;
    align-self: center;
  }
  #how_works .container .how-left p {
    text-align: left;
    width: 90%;
  }
}
#how_works .container .btn {
  margin-top: 25px;
}
#how_works .container #how_options {
  grid-area: options;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 1200px) {
  #how_works .container #how_options {
    flex-direction: row;
    justify-content: space-between;
  }
}
#how_works .container #how_options .option {
  margin-top: 45px;
  width: 100%;
  max-width: 420px;
  border-radius: 20px;
  background: #22c1c3;
  background: radial-gradient(circle, #22c1c3 0%, #e92dfd 100%);
}
@media only screen and (min-width: 1200px) {
  #how_works .container #how_options .option {
    flex-basis: 31.5%;
  }
}
@media only screen and (min-width: 1400px) {
  #how_works .container #how_options .option {
    flex-direction: row;
    flex-basis: 30%;
    max-width: initial;
    margin-top: 0px;
  }
}
#how_works .container #how_options .option .inside_option {
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  width: 100%;
  max-width: 350px;
  font-family: "LatoBold";
  font-size: 25px;
  color: white;
  text-transform: uppercase;
}
#how_works .container #how_options .option .inside_option:first-child {
  margin-top: 0px;
}
#how_works .container #how_options .option .inside_option h1 {
  text-align: right;
}
#how_works .container #how_options .option .inside_option h2 {
  text-align: left;
  font-size: 22px;
  margin-top: 45px;
}
#how_works .container #how_options .option .inside_option .para {
  text-align: left;
  color: white;
  text-transform: initial;
  margin-top: 10px;
  margin-bottom: 25px;
}

#team {
  background-color: #f5f5f5;
}
#team .container {
  width: 100%;
  max-width: 2000px;
}
#slider_wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto, minmax(350px, 700px));
  grid-template-areas: "btn1 slider btn2";
  grid-column-gap: 20px;
  margin-top: 100px;
  align-items: center;
}
@media only screen and (min-width: 1200px) {
  #slider_wrapper {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: minmax(350px, 700px);
    grid-template-areas: "btn1 slider btn2";
    grid-column-gap: 20px;
    margin-top: 100px;
    align-items: center;
  }
}
#slider_wrapper .sl_btn {
  font-size: 320px;
  align-self: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
@media only screen and (min-width: 1200px) {
  #slider_wrapper .sl_btn {
    display: block;
  }
}
#slider_wrapper .left_btn {
  grid-area: btn1;
}
#slider_wrapper .right_btn {
  grid-area: btn2;
}
#slider_wrapper .slider_container {
  width: 100%;
}
#slider_wrapper .slider_container .child_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: auto;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (min-width: 1200px) {
  #slider_wrapper .slider_container .child_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: auto;
    align-items: center;
    justify-content: space-between;
  }
}
#slider_wrapper .slider_container .child_container .sli_child {
  width: 100%;
  position: relative;
  z-index: 5;
}
#slider_wrapper .slider_container .child_container .sli_child .slider_img {
  width: 100%;
  display: inline-block;
}
#slider_wrapper .slider_container .child_container .sli_child .name {
  width: 50%;
  transform: skewX(-45deg);
  background-color: #252525;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
#slider_wrapper .slider_container .child_container .sli_child .name h1 {
  font-family: "OpenSansBold";
  font-size: 25px;
  color: white;
  transform: skewX(45deg);
  text-align: center;
}
#slider_wrapper .slider_container .child_container .sli_child .title {
  width: 35%;
  transform: skewX(-45deg);
  background-color: #bc2e3a;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
}
@media only screen and (min-width: 992px) {
  #slider_wrapper .slider_container .child_container .sli_child .title {
    width: 80%;
  }
}
@media only screen and (min-width: 1400px) {
  #slider_wrapper .slider_container .child_container .sli_child .title {
    width: 35%;
  }
}
#slider_wrapper .slider_container .child_container .sli_child .title h3 {
  font-family: "OpenSansBold";
  font-size: 19px;
  color: white;
  text-align: center;
  transform: skewX(45deg);
}

#client_say .container .section_heading {
  width: 100%;
}
@media only screen and (min-width: 1400px) {
  #client_say .container .section_heading {
    text-align: left;
    margin-left: 280px;
  }
}
#client_container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto minmax(250px, auto);
  grid-template-areas: "img" "comment";
  justify-items: center;
  margin-top: 75px;
}
@media only screen and (min-width: 576px) {
  #client_container {
    grid-template-rows: 500px minmax(250px, 450px);
  }
}
@media only screen and (min-width: 992px) {
  #client_container {
    grid-template-rows: 500px 250px;
  }
}
@media only screen and (min-width: 1200px) {
  #client_container {
    grid-template-columns: 2.5fr 4fr;
    grid-template-rows: 1fr;
    grid-template-areas: "img comment" "img comment";
  }
}
@media only screen and (min-width: 1400px) {
  #client_container {
    align-items: center;
    margin-top: 35px;
  }
}
#client_container .client_img {
  grid-area: img;
  width: 100%;
}
@media only screen and (min-width: 576px) {
  #client_container .client_img {
    width: initial;
  }
}
@media only screen and (min-width: 1200px) {
  #client_container .client_img {
    width: 100%;
  }
}
#client_container .client_comment {
  grid-area: comment;
  position: relative;
}
@media only screen and (min-width: 992px) {
  #client_container .client_comment {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 2fr;
    grid-template-rows: 45px 240px;
    grid-template-areas: "title title title" "text text img";
    align-items: center;
  }
}
@media only screen and (min-width: 1200px) {
  #client_container .client_comment {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 50px 120px;
    grid-template-areas: "text text text" "title title title" "img img img";
  }
}
@media only screen and (min-width: 1400px) {
  #client_container .client_comment {
    grid-template-rows: 190px 50px 150px;
  }
}
#client_container .client_comment .para {
  font-family: OpenSans;
  font-size: 25px;
  line-height: 30px;
  text-align: justify;
  color: #6a6a6a;
  font-style: italic;
  padding-left: 20px;
  padding-right: 20px;
}
@media only screen and (min-width: 992px) {
  #client_container .client_comment .para {
    grid-area: text;
  }
}
#client_container .client_comment h4 {
  font-family: OpenSansBold;
  font-size: 30px;
  text-align: center;
  color: #6a6a6a;
  text-transform: capitalize;
  margin-top: 25px;
}
@media only screen and (min-width: 992px) {
  #client_container .client_comment h4 {
    grid-area: title;
    margin-top: 0px;
  }
}
@media only screen and (min-width: 1200px) {
  #client_container .client_comment h4 {
    text-align: left;
  }
}
#client_container .client_comment ul {
  list-style: none;
  overflow: hidden;
  width: 230px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 992px) {
  #client_container .client_comment ul {
    grid-area: img;
  }
}
@media only screen and (min-width: 1400px) {
  #client_container .client_comment ul {
    width: 380px;
    margin-top: 40px;
    margin-left: 40px;
  }
}
#client_container .client_comment ul li {
  float: left;
  width: 66.6666666667px;
  margin-right: 10px;
  margin-top: 25px;
}
#client_container .client_comment ul li:last-child {
  margin-right: 0px;
}
@media only screen and (min-width: 992px) {
  #client_container .client_comment ul li {
    margin-top: 0px;
  }
}
@media only screen and (min-width: 1400px) {
  #client_container .client_comment ul li {
    width: 116.6666666667px;
  }
  #client_container .client_comment ul li img {
    width: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(250px, auto);
  grid-template-areas: "header header" "who_we who_we" "what_do what_do" "how_works how_works" "team team" "client_say client_say" "in_touch in_touch";
}

.btn {
  display: inline-block;
}

/*# sourceMappingURL=Style.css.map */
