#in_touch {
    background: transparent url("../Img/footer_bg.png") no-repeat center center;
    background-size: cover;
    .container {
        // contact section
        @at-root #contact {
            margin-top: 45px;
            display: flex;
            flex-flow: column wrap;
            // ----------------------------------------------------
            // responsive
            // ---------------------------------------------------
            @include resp($lg) {
                flex-direction: row;
                max-width: 875px;
                justify-content: space-between;
                @include center;
                margin-top: 65px;
            }

            li {
                flex-basis: 100%;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr auto;
                grid-template-areas:
                    "icons"
                    "text";
                justify-items: center;
                grid-row-gap: 25px;
                // margin on top
                margin-top: 30px;
                // responsive
                @include resp($md) {
                    margin-top: 45px;
                }
                @include resp($lg) {
                    flex-basis: 30%;
                    margin-top: 0px;
                }

                &:first-child {
                    margin-top: 0px;
                }

                img {
                    grid-area: icons;
                    width: 128px;
                    @include resp($lg) {
                        width: 80px;
                    }
                }

                .texts {
                    // font variable
                    $font: 20;

                    grid-area: text;

                    h6 {
                        @include footerFonts($font + 5 + px);
                        font-weight: bold;
                        text-align: center;
                        // responsive
                        @include resp($md) {
                            margin-bottom: 15px;
                        }
                    }
                    p {
                        @include footerFonts($font + px);
                        text-align: center;
                        // responsive
                        @include resp($md) {
                            line-height: $font + 6 + px;
                        }
                    }
                }
            }
        }
        @at-root #social_media {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            width: 100%;
            height: 230px;
            // border-bottom: 2.5px solid red;
            align-items: center;
            // padding left and right
            padding-left: 15px;
            padding-right: 15px;

            // margin top
            margin-top: 45px;
            // --------------------------------------
            // responsive
            // ----------------------------------------
            @include resp($md) {
                padding: 0px;
                border-bottom: 2.5px solid $paragraph;
                height: auto;
                padding-bottom: 20px;
                max-width: 700px;
                @include center;
            }

            @include resp($lg) {
                margin-top: 75px;
                width: 80%;
                max-width: initial;
                justify-content: center;
            }

            a {
                display: inline-block;
                flex-basis: (100%/3);
                text-align: center;
                text-decoration: none;
                // ---------------------------------------------
                // responsive
                // -----------------------------------------------
                @include resp($md) {
                    flex-basis: (100% / 7);
                }
                @include resp($lg) {
                    // local padding variable
                    $padding: 18;
                    flex-basis: initial;
                    padding: 0 $padding + px;
                }

                img {
                    display: inline-block;
                    width: 100%;
                    max-width: 50px;
                    // ---------------------------------------
                    // responsive
                    // -------------------------------
                    @include resp($lg) {
                        width: 40px;
                    }
                }
            }
        }
    }
}

// copyright
@at-root #copyright {
    // local font varibale
    $fontSize: 20;
    //  --------------------------
    font-family: $para;
    color: white;
    text-align: center;
    width: 100%;
    // padding
    padding: 0px 20px;
    font-size: $fontSize + px;
    line-height: $fontSize + 10 + px;
    // margin top
    margin-top: 40px;

    span {
        font-weight: bold;
        text-decoration: underline;
    }

    // responsive
    @include resp($sm) {
        $fontSize: $fontSize + 2;
        font-size: $fontSize;
        line-height: $fontSize + 10 + px;
    }
}
