#header {
    width: 100%;
    background-image: url("../Img/main-bg.png");
    background-position: center center;
    background-size: cover;
    background-color: #ff061d;
    .container {
        width: 100%;
        @include auto_flex;
        position: relative;
        margin-top: 15px;
        max-height: 100px;

        // media query
        @media only screen and (min-width: $lg) {
            width: 90%;
            @include center;
            min-height: initial;
        }
    }
    #brand-icon {
        flex-basis: 80%;
        @media only screen and (min-width: $md) {
            flex-basis: 35%;
        }

        h1 {
            font-family: "LatoBlack";
            font-size: 2.5em;
            text-align: center;
            color: white;
            text-transform: capitalize;
        }
    }
    #nav_btn {
        // flex-basis: 20%;
        margin-left: 10px;
        padding: 10px 15px;
        background-color: transparent;
        border: none;
        outline: none;
        order: -1;
        @media only screen and (min-width: $lg) {
            display: none;
        }
        i {
            color: white;
        }
    }
    // nav wrapper
    @at-root #nav_wrapper {
        width: 100%;
        margin-top: 15px;
        // display: none;
        opacity: 0;
        transition: opacity 0.5s, width 0.4s;
        // responsive for menium screen
        @media only screen and (min-width: $md) {
            opacity: 1;
            margin-top: initial;
        }
        #navbar {
            width: 100%;
            background-color: #ff5100;
            padding: 25px 0px;
            // responsive for medium screen 
            @media only screen and (min-width: $md) {
                @include flex;
            }
            li {
                font-family: "LatoBold";
                font-size: 1em;
                text-align: center;
                list-style: none;
                color: white;
                text-transform: uppercase;
                padding-top: 15px;
                padding-bottom: 15px;
                border-top: 1px solid white;
                &:first-child {
                    border-top: none;
                }
                @media only screen and (min-width: $md) {
                    
                }
            }
        }
    }
}
