#header {
    width: 100%;
    background-image: url("../Img/main-bg.png");
    background-position: center center;
    background-size: cover;
    background-color: #ff061d;
    .container {
        width: 100%;
        @include auto_flex;
        position: relative;
        margin-top: 15px;
        max-height: 100px;
        // margin
        padding-top: 0px;
        padding-bottom: 0px;

        // media query
        @media only screen and (min-width: $lg) {
            width: 90%;
            @include center;
            min-height: initial;
        }
        @media only screen and (min-width: $xl) {
            width: 95%;
        }
    }
    #brand-icon {
        flex-basis: 70%;
        @include resp($sm) {
            flex-basis: 80%;
        }
        @media only screen and (min-width: $lg) {
            flex-basis: auto;
        }

        h1 {
            font-family: "LatoBlack";
            font-size: 2.5em;
            text-align: center;
            color: white;
            text-transform: capitalize;

            @media only screen and (min-width: $lg) {
                margin-top: 10px;
            }
            @media only screen and (min-width: $xl) {
                font-size: 2.8em;
            }
        }
    }
    #nav_btn {
        // flex-basis: 20%;
        margin-left: 10px;
        padding: 10px 15px;
        background-color: transparent;
        border: none;
        outline: none;
        order: -1;
        @media only screen and (min-width: $lg) {
            display: none;
        }
        i {
            color: white;
        }
    }
    // nav wrapper
    @at-root #nav_wrapper {
        width: 100%;
        margin-top: 15px;
        display: none;
        opacity: 0;
        transition: opacity 0.5s, width 0.4s;
        overflow: hidden;

        // responsive for menium screen
        @media only screen and (min-width: $lg) {
            opacity: 1;
            margin-top: initial;
            flex-basis: 75%;
            overflow: hidden;
            display: block;
        }
        #navbar {
            width: 100%;
            background-color: #ff5100;
            padding: 25px 0px;
            float: right;
            // responsive for medium screen
            @media only screen and (min-width: $lg) {
                @include flex;
                background-color: transparent;
                justify-content: center;
            }
            @media only screen and (min-width: $xl) {
                min-width: 960px;
            }
            @include resp ($xxl) {
                max-width: 1100px;
            }
            li {
                font-family: "LatoBold";
                font-size: 1em;
                list-style: none;
                width: (100% / 8);
                text-align: center;
                &:first-child {
                    border-top: none;
                }

                a {
                    display: inline-block;
                    text-align: center;
                    color: white;
                    text-decoration: none;
                    text-transform: uppercase;
                    padding: 10px 0px;
                }
                @media only screen and (min-width: $lg) {
                    border: none;
                    padding: 0;
                }
            }

            .active {
                background-color: #ff5100;
            }
        }
    }

    // -------------------------------------------------
    // main area style
    // --------------------------------------------------
    @at-root {
        #main {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 2fr 1fr;
            grid-template-areas: "image" "texts";
            background-image: url("../Img/main_transparent_red.png");
            background-repeat: no-repeat;
            background-position: 10px 95px;
            background-size: 70%;
            margin-bottom: 130px;
            // media query
            @include resp($x_sm) {
                grid-template-rows: 2fr 1.5fr;
            }
            @include resp($sm) {
                margin-bottom: 0px;
                grid-template-rows: 2fr 600px;
            }
            @include resp($lg) {
                grid-template-columns: 35px repeat(5, 1fr) 35px;
                grid-template-rows: repeat(5, 120px);
                grid-template-areas: initial;
                max-width: unquote($string: $lg);
                @include center;
                background-position: 330px 20px;
                background-size: 55%;
            }

            @include resp($xl) {
                max-width: unquote($string: $xl);
                padding-top: 50px;
                padding-bottom: 90px;
                background-position: 300px 0px;
                background-size: 80%;
            }

            @include resp($xxl) {
                max-width: unquote($string: $xxl);
                padding-top: 100px;
                padding-bottom: 130px;
                background-position: 390px 0px;
            }

            .img_container {
                grid-area: image;
                width: 100%;
                margin-top: 80px;
                text-align: center;
                @include resp($sm) {
                    max-width: 600px;
                    @include center;
                }
                @include resp($lg) {
                    grid-row: 1/-2;
                    grid-column: 4/-1;
                    margin-top: initial;
                    position: relative;
                    z-index: 10;
                }
                @include resp($xl) {
                    max-width: $xl;
                }

                img {
                    width: 100%;
                    display: inline-block;
                    max-width: unquote($x_sm);
                    // ---------------------------------------------------------
                    // responsive
                    // ---------------------------------------------------------
                    @include resp($sm) {
                        max-width: 100%;
                    }
                    @include resp($lg) {
                        max-width: initial;
                        width: 115%;
                    }
                    @include resp($xl) {
                        width: 123%;
                    }
                    @include resp($xxl) {
                        width: 132%;
                    }
                }
            }
            // ---------------------------------------
            // main section container
            // -----------------------------------------
            .texts {
                width: 100%;
                grid-area: texts;
                // text style
                font-family: "LemonMilk";
                text-align: center;
                text-transform: uppercase;
                background-image: url("../Img/main-bg.png");
                background-clip: text;
                background-color: #ffffff7d;
                // responsive design
                @include resp($lg) {
                    grid-column: 2 / span 3;
                    grid-row: 2/ -2;
                    position: relative;
                    z-index: 5;
                }
                @include resp($xl) {
                    margin-top: 30px;
                }
                // heading
                // selector-nest($selectors:)
                h1 {
                    font-size: 48px;
                    line-height: 55px;
                    // media query
                    @include resp($x_sm) {
                        font-size: 55px;
                        line-height: 65px;
                        &:first-child {
                            margin-top: 40px;
                        }
                    }
                    @include resp($sm) {
                        font-size: 90px;
                        line-height: 90px;
                    }
                    @include resp($md) {
                        font-size: 125px;
                        line-height: 108px;
                    }
                    @include resp($lg) {
                        font-size: 95px;
                        line-height: 85px;
                        &:first-child {
                            margin-top: initial;
                        }
                    }
                    @include resp($xl) {
                        font-size: 135px;
                        line-height: 115px;
                    }
                }
                h4 {
                    font-size: 2.5em;
                    line-height: 40px;
                    @include resp($x_sm) {
                        font-size: 45px;
                        line-height: 45px;
                    }
                    @include resp($sm) {
                        font-size: 55px;
                        line-height: 55px;
                    }
                    @include resp($md) {
                        font-size: 70px;
                        line-height: 70px;
                    }
                    @include resp($lg) {
                        font-size: 55px;
                    }
                    @include resp($xl) {
                        font-size: 85px;
                        line-height: 85px;
                    }
                }

                // $header_selector: selector-nest($selectors);

                // #{$header_selector} {
                //     background-color: transparent;
                // }
                h1,
                h4 {
                    color: transparent;
                }

                // btn style
                .btn {
                    @extend %btn;
                    display: inline-block;
                    margin-top: 75px;
                }
            }
        }
    }
}
