#team {
    background-color: $bg_not_white;

    .container {
        width: 100%;
        max-width: 2000px;
    }

    @at-root #slider_wrapper {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: minmax(350px, 700px);
        grid-template-areas: "btn1 slider btn2";
        grid-column-gap: 20px;
        .sl_btn {
            font-size: 320px;
            align-self: center;
            border: none;
            background-color: transparent;
            cursor: pointer;
        }
        .left_btn {
            grid-area: btn1;
        }
        .right_btn {
            grid-area: btn2;
        }

        .slider_container {
            width: 100%;
            // ---------------------------------------------------------------------
            // child container
            // ---------------------------------------------------------------------
            .child_container {
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: auto;
                align-items: center;
                // -----------------------------------------------------------------------
                // child list
                // ------------------------------------------------------------------------
                .sli_child {

                    .slider_img {
                        width: 100%;
                    }
                }
            }
        }
    }
}
