#team {
    background-color: $bg_not_white;
    position: relative;

    .team_background {
        position: absolute;
        top: -125px;
        left: 0px;
        z-index: 15;
        width: 125px;

        // ------------------------------------------
        // responsive design
        // -------------------------------------------

        @include resp ($md) {
            width: 220px;
            top: -220px;
        }


        @include resp ($xl) {
            width: 275px;
            top: -275px;
        }
        @include resp($xxl) {
            position: absolute;
            top: -325px;
            left: 0px;
            z-index: 15;
            width: 325px;
        }
    }

    .container {
        width: 100%;
        max-width: 2000px;
    }

    @at-root #slider_wrapper {
        display: grid;
        grid-template-columns: 1fr;
        // grid-template-areas: "btn1 slider btn2";
        grid-column-gap: 50px;
        align-items: center;
        // responsive
        @include resp($xl) {
            display: grid;
            grid-template-columns: auto 1fr auto;
            grid-template-rows: minmax(350px, 700px);
            grid-template-areas: "btn1 slider btn2";
            margin-top: 100px;
            align-items: center;
        }
        .sl_btn {
            font-size: 200px;
            align-self: center;
            border: none;
            background-color: transparent;
            cursor: pointer;
            display: none;
            // responsive design
            @include resp($xl) {
                display: block;
                // font-size: 300px;
            }
            @include resp($xxl) {
                font-size: 280px;
            }
        }
        .left_btn {
            grid-area: btn1;
        }
        .right_btn {
            grid-area: btn2;
        }

        .slider_container {
            width: 100%;
            margin-top: 100px;
            // ---------------------------------------------------------------------
            // child container
            // ---------------------------------------------------------------------
            .child_container {
                width: 100%;
                // height: 100%;
                display: grid;
                // grid-template-columns: repeat(3, 33%);
                grid-template-columns: 1fr;
                grid-template-rows: auto;
                grid-row-gap: 70px;
                max-width: 680px;
                justify-items: center;
                @include center;
                // responsive
                @include resp($xl) {
                    max-width: initial;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-between;
                    align-items: center;
                    justify-items: initial;
                }
                // -----------------------------------------------------------------------
                // child list
                // ------------------------------------------------------------------------
                .sli_child {
                    width: 80%;
                    position: relative;
                    z-index: 5;
                    text-align: center;
                    // slider child
                    @include resp($xl) {
                        width: 28%;
                    }

                    .slider_img {
                        width: 100%;
                        display: inline-block;
                    }
                    .name {
                        width: 70%; //transition
                        // transform: skewX(-45deg);
                        background-color: #252525;
                        padding-top: 15px; // transition
                        padding-bottom: 15px; // transition
                        margin-top: 35px;
                        @include center;
                        h1 {
                            font-family: "OpenSansBold";
                            font-size: 25px;
                            color: white;
                            // transform: skewX(45deg);
                            text-align: center;
                        }
                    }
                    .title {
                        display: none;
                        width: 90%;
                        // display: none;
                        // transform: skewX(-45deg);
                        background-color: #bc2e3a;
                        @include padingX(10);
                        @include center;
                        margin-top: -10px;
                        @include resp($lg) {
                            width: 80%;
                        }
                        @include resp($xxl) {
                            width: 35%;
                        }
                        h3 {
                            font-family: "OpenSansBold";
                            font-size: 19px;
                            color: white;
                            text-align: center;
                            // transform: skewX(45deg);
                        }
                    }
                }

                .active {
                    width: 100%;
                    // width: 33%;
                    transition: width 0.5s;

                    @include resp($xl) {
                        width: 33%;
                    }

                    .name {
                        width: 80%;
                        padding-top: 25px;
                        padding-bottom: 25px;
                        transition: all 0.5s;
                    }
                    .title {
                        display: block;
                    }
                }
            }
        }
    }
}
